<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Device</h5>
          <p>
            <strong>ID</strong>: {{device.id}}</p>
          <p>
          <p>
            <strong>Device Name:</strong>: {{device.name}}</p>
          <p>
            <strong>Description:</strong> {{device.description}}</p>
          <p>
            <strong>Device State:</strong> {{device.status}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Device</h5>
          <p>
            {{device.name}}<input id="toggle-demo" type="checkbox" data-toggle="toggle">
        </div>
      </div>
    </div>
  </div>
</div>
